<style>
    #routerWrapper{
        position: absolute;
        top: 0; left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--color-background);
    }
    
    .loggedIn{
        height: calc(100vh - var(--navBar-Height)) !important;
    }

    /* Used to apply a margin to #RouterWrapper if user is logged in */
    @media screen and (min-width: 500px) {
        .loggedIn{
            margin-top: var(--navBar-Height);
        }
    }
</style>

<!-- Display navbar above router -->
<app-navigation-bar></app-navigation-bar>

<!-- Router view -->
<div id="routerWrapper" class="{{loggedIn() ? 'loggedIn':''}}">
    <router-outlet></router-outlet>
</div>
